body {
  background-color: white;
}

h1 {
  color: navy;
  margin-left: 20px;
}


/*style sheet all webpages. */
* {
    box-sizing: border-box;
 }
 /* header style */
 .header {
     padding: 200px;
     text-align:center;
     background: rgb(53, 216, 38);
     color: black;
 }
 /* buttons or tabs on webpages  */
 .button {
     display: inline-block;
     font-weight: bold;
     font-size: 20px;
     padding: 14px 20px;
     text-align: left;
     text-decoration: none;
     color: white;
     background-color: black;
     border-radius: 4px;
     outline: none;
 }
 /* h1 style */
 h1 {
     color:black;
     font-family: sans-serif;
 }
 /* h2 style */
 h2 {
     color: black;
     font-family: sans-serif;
 }
 /* h3 style */
 h3 {
     color: black;
     font-family: sans-serif;
 }
 /* title style */
 .title {
     color: black;
     text-align: center;
 }
 /* h1 style */
 .container {
     width: 70%;
     margin: auto;
     padding: 2%;
     border-radius: 4%
 }
