{% extends "index.html"%} {% block content %}

<div class="container">
  <div class="jumbotron">
    <h1>Maryland Football Camps, LLC.</h1>
    <p>
      Maryland Football Camps, LLC, was establish in 2022 for the purpose of a
      UMGC program. Our goal is to provide high school athletes training in a
      variety of diciplines. Our number one goal is making you better all around
      to persue the game at the next level.
    </p>

    <h2>Contact Us</h2>
    <address>
      Maryland Football Camps, LLC. <br />
      309 Annapolis Road <br />
      Hanover, MD 20755 <br />
    </br>
      Email: MDFootballCamps@MDFC.com <br />
      Phone: 1234567890 <br />
    </address>

  </div>

  {%endblock%}
</div>
