<!-- This is the helper.html webpage which contains the css stylesheet and flash
messages needed for the addtional new routes and webpages -->
<!DOCTYPE html>
<html lang="en">


<head>
    <title> </title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/mystyle.css') }}">
    {% block head %}{% endblock %}
</head>

<div class="flash_area_messages">
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <div class=flash_count>
        {% for status_message in messages %}
        {{ status_message }}
        {% endfor %}
    </div>
    {% endif %}
    {% endwith %}
</div>


<body>
    {% block body %}
    {% endblock %}
</body>

</html>