{% extends "index.html"%} {% block content %}
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta name="description" content="" />
  <title>Maryland High School Football Camp 2023</title>

  <link
    rel="canonical"
    href="https://getbootstrap.com/docs/5.2/examples/jumbotron/"
  />

  <link
    href="/docs/5.2/dist/css/bootstrap.min.css"
    rel="stylesheet"
    integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi"
    crossorigin="anonymous"
  />

  <!-- Favicons -->
  <link
    rel="apple-touch-icon"
    href="/docs/5.2/assets/img/favicons/apple-touch-icon.png"
    sizes="180x180"
  />
  <link
    rel="icon"
    href="/docs/5.2/assets/img/favicons/favicon-32x32.png"
    sizes="32x32"
    type="image/png"
  />
  <link
    rel="icon"
    href="/docs/5.2/assets/img/favicons/favicon-16x16.png"
    sizes="16x16"
    type="image/png"
  />
  <link rel="manifest" href="/docs/5.2/assets/img/favicons/manifest.json" />
  <link
    rel="mask-icon"
    href="/docs/5.2/assets/img/favicons/safari-pinned-tab.svg"
    color="#712cf9"
  />
  <link rel="icon" href="/docs/5.2/assets/img/favicons/favicon.ico" />
  <meta name="theme-color" content="#712cf9" />

  <style>
    .bd-placeholder-img {
      font-size: 1.125rem;
      text-anchor: middle;
      -webkit-user-select: none;
      -moz-user-select: none;
      user-select: none;
    }

    @media (min-width: 768px) {
      .bd-placeholder-img-lg {
        font-size: 3.5rem;
      }
    }

    .b-example-divider {
      height: 3rem;
      background-color: rgba(0, 0, 0, 0.1);
      border: solid rgba(0, 0, 0, 0.15);
      border-width: 1px 0;
      box-shadow: inset 0 0.5em 1.5em rgba(0, 0, 0, 0.1),
        inset 0 0.125em 0.5em rgba(0, 0, 0, 0.15);
    }

    .b-example-vr {
      flex-shrink: 0;
      width: 1.5rem;
      height: 100vh;
    }

    .bi {
      vertical-align: -0.125em;
      fill: currentColor;
    }

    .nav-scroller {
      position: relative;
      z-index: 2;
      height: 2.75rem;
      overflow-y: hidden;
    }

    .nav-scroller .nav {
      display: flex;
      flex-wrap: nowrap;
      padding-bottom: 1rem;
      margin-top: -1px;
      overflow-x: auto;
      text-align: center;
      white-space: nowrap;
      -webkit-overflow-scrolling: touch;
    }
  </style>
</head>
<body>
  <main>
    <div class="container py-4">
      <header class="pb-3 mb-4 border-bottom">
        <h1 class="display-5 fw-bold">Maryland High School Football Camp</h1>
      </header>

      <!-- Image carousel-->
      <div>
        <div class="bd-example-snippet bd-code-snippet"><div class="bd-example">
        <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
          <div class="carousel-indicators">
            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
          </div>
          <div class="carousel-inner">
            <div class="carousel-item active">
              <img src="https://www.baltimoresun.com/resizer/LpAX7csiEALljYK6fSIIfehvDiI=/800x0/filters:format(jpg):quality(70)/arc-anglerfish-arc2-prod-tronc.s3.amazonaws.com/public/PQKDJK3ZQ5FP7GBIACSFDGLA5Y.jpg" class="img-fluid" alt="...">
              <div class="carousel-caption d-none d-md-block">
                <h5>First slide label</h5>
                <p>We improve performance levels of athletes playing at every level of the game. High school instruction covers advanced position-specific drills and scenarios. All summer showcase attendees receive a full evaluation, which includes crucial information on the athlete’s skills, techniques, as well as, how to get better.</p>
              </div>
            </div>
            <div class="carousel-item">
              <svg class="bd-placeholder-img bd-placeholder-img-lg d-block w-100" width="800" height="400" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Second slide" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#666"/><text x="50%" y="50%" fill="#444" dy=".3em">Second slide</text></svg>

              <div class="carousel-caption d-none d-md-block">
                <h5>Second slide label</h5>
                <p>Some representative placeholder content for the second slide.</p>
              </div>
            </div>
            <div class="carousel-item">
              <svg class="bd-placeholder-img bd-placeholder-img-lg d-block w-100" width="800" height="400" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Third slide" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#555"/><text x="50%" y="50%" fill="#333" dy=".3em">Third slide</text></svg>

              <div class="carousel-caption d-none d-md-block">
                <h5>Third slide label</h5>
                <p>Some representative placeholder content for the third slide.</p>
              </div>
            </div>
          </div>
          <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions"  data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions"  data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button>
        </div>
        </div></div>

        <!-- Camp Information title and intro via bootstrap jumbotron-->
      <div class="p-5 mb-4 bg-light rounded-3">
        <div class="container-fluid py-5">
          
          <h1 class="display-5 fw-bold">Maryland High School Football Camp</h1>
          <p class="col-md-8 fs-4">
            We improve performance levels of athletes playing at every level of the game. High school instruction covers advanced position-specific drills and scenarios. All summer showcase attendees receive a full evaluation, which includes crucial information on the athlete’s skills, techniques, as well as, how to get better.
          </p>
          <!-- {X if current_user.is_authenticated %} --> 
         <a class="btn btn-outline-danger btn-lg" href={{ url_for('register_for_camp') }} data-toggle="button" aria-pressed="true">Register Now</a>
         <!-- {X else %} --> 
          <a class="btn btn-outline-danger btn-lg" href={{ url_for('login') }} data-toggle="button" aria-pressed="true">Register Now</a>
          <!-- {X endif %} --> 
        </div>
      </div>


      <!-- Camp Information accordion-->

      <article class="my-3" id="accordion">
        <div class="bd-heading sticky-xl-top align-self-start mt-5 mb-3 mt-xl-0 mb-xl-2">
          <h3> What do I need to know? </h3>
        </div>
        <div>
          <div class="bd-example-snippet bd-code-snippet"><div class="bd-example">
          <div class="accordion accordion-flush" id="accordionExample">
            <div class="accordion-item">
              <h4 class="accordion-header" id="headingOne">
                <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                  Why should I Attend?
                </button>
              </h4>
              <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                <div class="accordion-body">
                  <strong>Why not?</strong> We focuses on the fundamentals and not just the plays or conditioning of athletes. We use a program that allows for each athlete to compete to their absolute athletic potential while providing a safe environment to insure maximum progress and safety.
                </div>
              </div>
            </div>
            <div class="accordion-item">
              <h4 class="accordion-header" id="headingTwo">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                  Who will be coaching the campers?
                </button>
              </h4>
              <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
                <div class="accordion-body">
                  <strong>Football Veterans!</strong> Local NFL and college coaches plus some various players as well will coach your kids. Your camper has the opportunity to be coached by some great minds in football.
                </div>
              </div>
            </div>
            <div class="accordion-item">
              <h4 class="accordion-header" id="headingThree">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                  Where is camp?
                </button>
              </h4>
              <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
                <div class="accordion-body">
                  <strong>SECU STADIUM & JONES-HILL HOUSE - COLLEGE PARK, MD.</strong> SECU Stadium, nestled in the corner of the University of Maryland's campus, has been home to national championship football and men's and women's lacrosse teams, and to more than 50 ACC track and field champions. Jones-Hill House is the new home of Terrapin football. The state-of-the-art facility provides upgrades in all areas that will aid in creating the consummate student-athlete experience. Jones-Hill House put UMD front and center as having one of the top football facilities in the entire country.
                </div>
              </div> 
            </div>
            <div class="accordion-item">
              <h4 class="accordion-header" id="headingTwo">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                  As a parent or guardian, can I come and watch the practices during camp?
                </button>
              </h4>
              <div id="collapseFour" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
                <div class="accordion-body">
                  <strong>YES</strong>, we actually encourage parents/guardians to watch the practices during the week, especially for the Super Bowl on the last day of camp where a culmination of the weekend’s work comes together for a fun time for campers, coaches, and parents. Everyone who comes to watch during the week must check in at our security tent to get an O-D field pass.
                </div>
              </div>
            </div>
            <div class="accordion-item">
              <h4 class="accordion-header" id="headingTwo">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                  Is the Football Camp Geared Toward One Position?
                </button>
              </h4>
              <div id="collapseFive" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
                <div class="accordion-body">
                  <strong>NO!</strong> We pride ourself on offering the most in-depth instruction in all positions. You, the camper, decide what position you would like to learn and our hand-selected coaching staff will take over from there.
                </div>
              </div>
            </div>
            <div class="accordion-item">
              <h4 class="accordion-header" id="headingTwo">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
                  Is This A Camp For Football Veterans Only?
                </button>
              </h4>
              <div id="collapseSix" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
                <div class="accordion-body">
                  <strong>Absolutely Not!</strong> We work with campers of all age and skill levels. While this camp is specifically geared towards incoming Freshman to Seniors, it is appropriate regardless of previous football knowledge. We have a very skilled and knowledgeable staff where each member on the coaching staff is hand-selected to cater to the needs of our campers. First-time campers will leave with better knowledge and take the grassroots skills of football home with them. Football veterans will appreciate our challenging curriculum and the one-on-one drills that will take place with the pros. No matter the situation, our camp guarantees improvement.
                </div>
              </div>
            </div>
            <div class="accordion-item">
              <h4 class="accordion-header" id="headingTwo">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseSeven" aria-expanded="false" aria-controls="collapseSeven">
                  How much does camp cost?
                </button>
              </h4>
              <div id="collapseSeven" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
                <div class="accordion-body">
                  <strong>This is the second item's accordion body.</strong> It is hidden by default, until the collapse plugin adds the appropriate classes that we use to style each element. These classes control the overall appearance, as well as the showing and hiding via CSS transitions. You can modify any of this with custom CSS or overriding our default variables. It's also worth noting that just about any HTML can go within the <code>.accordion-body</code>, though the transition does limit overflow.
                </div>
              </div>
            </div>
          </div>
          </div></div>
      </article>

      <div class="row align-items-md-stretch">
        <div class="col-md-6">
          <div class="h-100 p-5 text-bg-dark rounded-3">
            <h2>Change the background</h2>
            <p>
              Swap the background-color utility and add a `.text-*` color
              utility to mix up the jumbotron look. Then, mix and match with
              additional component themes and more.
            </p>
            <button class="btn btn-outline-light" type="button">
              Example button
            </button>
          </div>
        </div>
        <div class="col-md-6">
          <div class="h-100 p-5 bg-light border rounded-3">
            <h2>Add borders</h2>
            <p>
              Or, keep it light and add a border for some added definition to
              the boundaries of your content. Be sure to look under the hood at
              the source HTML here as we've adjusted the alignment and sizing of
              both column's content for equal-height.
            </p>
            <button class="btn btn-outline-secondary" type="button">
              Example button
            </button>
          </div>
        </div>
      </div>
  </main>
</body>
{%endblock%}
