{% extends "index.html"%} {% block content %}

<body>
  <main>
    <div class="p-5 mb-4 ">
      <div class="text-center">
        <img src="https://i.bleacherreport.net/images/team_logos/328x328/maryland_terrapins_football.png?canvas=492,328" class="img-fluid" alt="...">
          <p class="lead fw-normal text-red-50 mb-0">Login</p>
      </div>
    </br>
    <div class="container col-sm-4">
    <form class="form-group">
      <label for="username">Username:</label>
      <input type="username" class="form-control" name="username" placeholder="Username">
      </br>
      <label for="password">Password:</label>
      <input type="password" class="form-control" name="password" placeholder="Password">
      </br>
      <a type="submit" class="btn btn-outline-dark" data-toggle="button" aria-pressed="true">Submit</a>
      <a type="sign_up" class="btn btn-warning" href={{ url_for('sign_up') }} data-toggle="button" aria-pressed="true">Sign-up</a>
      <a type="update_password" class="btn btn-danger" href={{url_for('update_password')}} data-toggle="button" aria-pressed="true">Update Password</a>
  </form>
</div>
</div>
</main>
</body>
{% endblock %}
