{% extends "helper.html" %}

{% block head %}

{% endblock %}

{% block body %}

<!DOCTYPE html> 
<!-- This is the Training.html webpage which will provide some training options for those wanting to learn how to be a security professional -->
<!-- Set lang of webpages to standard English. -->
<html lang="en">

<!-- This is used for the creation of the logout button. -->
<p><a href={{ url_for("logout") }}> Logout </a></p>   
<p><a href={{ url_for("update_password") }}> Change Password </a></p>

<title> Page2 </title>
<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1" name="viewport">
  <title></title>
  <!-- Referencing the CSS stylesheet  -->
  <link href="../static/css/mystyle.css" rel="stylesheet" type="text/css">
</head>

<body>
<!-- Displays the current date and time on the webpage. -->
{% for y in content %}
<h3 style="text-align:right"> Current Timestamp: {{ y }}</h3>
{% endfor %}
<header>
<nav>
 <ul>
   <a class="button" href="/">Home</a>
   <a class="button" href="Page1">PAGENAME</a>
   <a class="button" href="Page2">PAGENAME</a>
   <a class="button" href="Page3">PAGENAME</a>
 </ul>
</nav>
</header>

  <div class="container">
    <style>
       div {
           background-color: grey;
       }
    </style>
      <!-- images to give depth to page -->    
      <h1> 
        <img src=""
        alt="" width="400" height="200">
      </h1>

      <!-- main content of webpage -->
       <h2></h2>
       <p></p>
       
      <h3></h3>
       <p></p>
       
       <h4></h4>
        <ul>
        <li></li>
        <li></li>
        </ul>
       
        <h4></h4>
        <ul>
        <li></li>
        <li></li>
        </ul>

        <img src=""
        alt="" class="center" width="1200" height="600">

        <!-- external link --> 
        <br> <a href=""> </a> </br>

       <h3></h3>
        <p></p>
        
       <h4></h4>
        <p></p>

       <h4></h4>
        <p></p>

        <img src=""
        alt="" class="center" width="1200" height="600">

      <!-- external link --> 
      <br> <a href=""> </a> </br>

   </div>
  </body>
</html>

{% endblock %}