<!-- This is the register_for_camp.html webpage for registration form to allow
new users to create an account to login. -->
{% extends "index.html"%}
{% block content %}

    <style>
      .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        user-select: none;
      }

      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }

      .b-example-divider {
        height: 3rem;
        background-color: rgba(0, 0, 0, .1);
        border: solid rgba(0, 0, 0, .15);
        border-width: 1px 0;
        box-shadow: inset 0 .5em 1.5em rgba(0, 0, 0, .1), inset 0 .125em .5em rgba(0, 0, 0, .15);
      }

      .b-example-vr {
        flex-shrink: 0;
        width: 1.5rem;
        height: 100vh;
      }

      .bi {
        vertical-align: -.125em;
        fill: currentColor;
      }

      .nav-scroller {
        position: relative;
        z-index: 2;
        height: 2.75rem;
        overflow-y: hidden;
      }

      .nav-scroller .nav {
        display: flex;
        flex-wrap: nowrap;
        padding-bottom: 1rem;
        margin-top: -1px;
        overflow-x: auto;
        text-align: center;
        white-space: nowrap;
        -webkit-overflow-scrolling: touch;
      }
    </style>

    
    <!-- Custom styles for this template -->
    <link href="form-validation.css" rel="stylesheet">
  </head>
  <body class="bg-light">
    
<div class="container">
  <main>
    <div class="py-5 text-center">
      <img class="d-block mx-auto mb-4" src="\static\images\maryland_terrapins_football.png" alt="" width="72" height="57">
      <h2>Registration Form</h2>
    </div>

    <div class="container">
      <div class="jumbotron">
    <!--Athlete Info  -->
    <div class="col-md-7 col-lg-8">
      <h4 class="mb-3">Athlete Information</h4>
      <form class="needs-validation" novalidate>
        <div class="row g-3">
          <div class="col-sm-6">
            <label for="firstName" class="form-label">First name</label>
            <input type="text" class="form-control" id="firstName" placeholder="" value="" required>
            <div class="invalid-feedback">
              Valid first name is required.
            </div>
          </div>

          <div class="col-sm-6">
            <label for="lastName" class="form-label">Last name</label>
            <input type="text" class="form-control" id="lastName" placeholder="" value="" required>
            <div class="invalid-feedback">
              Valid last name is required.
            </div>
          </div>

          <div class="col-sm-6">
            <label for="username" class="form-label">Username</label>
            <div class="input-group has-validation">
              <span class="input-group-text">@</span>
              <input type="text" class="form-control" id="username" placeholder="Username" required>
            <div class="invalid-feedback">
                Your username is required.
              </div>
            </div>
          </div>

          <div class="col-sm-6">
            <label for="email" class="form-label">Email <span class="text-muted">(Optional)</span></label>
            <input type="email" class="form-control" id="email" placeholder="you@example.com">
            <div class="invalid-feedback">
              Please enter a valid email address.
            </div>
          </div>

          <div class="col-sm-6">
            <label for="phone_number" class="form-label">Phone Number</label>
            <input type="text" class="form-control" id="address" placeholder="(XXX)-XXX-XXXX" required>
            <div class="invalid-feedback">
              Please enter valid phone number.
            </div>
          </div>

          <div class="col-sm-6">
            <label for="bdate" class="form-label">Birthday</label>
            <input type="text" class="form-control" id="address" placeholder="mm/dd/yyyy" required>
            <i class="fas fa-calendar-alt"></i>
            <div class="invalid-feedback">
              Please enter valid date in the mm/dd/yyyy format.
            </div>
          </div>

          <div class="col-sm-6">
            <label for="address" class="form-label">Address</label>
            <input type="text" class="form-control" id="address" placeholder="1234 Main St" required>
            <div class="invalid-feedback">
              Please enter your address.
            </div>
          </div>

          <div class="col-sm-6">
            <label for="address2" class="form-label">Address 2 <span class="text-muted">(Optional)</span></label>
            <input type="text" class="form-control" id="address2" placeholder="Apartment or suite">
          </div>

          <div class="col-md-5">
            <label for="city" class="form-label">State</label>
            <input type="text" class="form-control" id="city" placeholder="City">
            <div class="invalid-feedback">
              Please select a valid city name.
            </div>
          </div>

          <div class="col-md-4">
            <label for="state" class="form-label">State</label>
            <select class="form-select" id="state" required>
              <option value="">Choose...</option>
              <option>Alabama</option>
              <option>Alaska</option>
              <option>Arizona</option>
              <option>Arkansas</option>
              <option>California</option>
              <option>Colorado</option>
              <option>Connecticut</option>
              <option>Delaware</option>
              <option>District of Columbia</option>
              <option>Florida</option>
              <option>Georgia</option>
              <option>Hawaii</option>
              <option>Idaho</option>
              <option>Illinois</option>
              <option>Indiana</option>
              <option>Iowa</option>
              <option>Kansas</option>
              <option>Kentucky</option>
              <option>Louisiana</option>
              <option>Maine</option>
              <option>Maryland</option>
              <option>Massachusetts</option>
              <option>Michigan</option>
              <option>Minnesota</option>
              <option>Mississippi</option>
              <option>Missouri</option>
              <option>Montana</option>
              <option>Nebraska</option>
              <option>Nevada</option>
              <option>New Hampshire</option>
              <option>New Jersey</option>
              <option>New Mexico</option>
              <option>New York</option>
              <option>North Carolina</option>
              <option>North Dakota</option>
              <option>Ohio</option>
              <option>Oklahoma</option>
              <option>Oregon</option>
              <option>Pennsylvania</option>
              <option>Rhode Island</option>
              <option>South Carolina</option>
              <option>South Dakota</option>
              <option>Tennessee</option>
              <option>Texas</option>
              <option>Utah</option>
              <option>Vermont</option>
              <option>Virginia</option>
              <option>Washington</option>
              <option>West Virginia</option>
              <option>Wisconsin</option>
              <option>Wyoming</option>
            </select>
            <div class="invalid-feedback">
              Please provide a valid state.
            </div>
          </div>

          <div class="col-md-3">
            <label for="zip" class="form-label">Zip</label>
            <input type="text" class="form-control" id="zip" placeholder="" required>
            <div class="invalid-feedback">
              Zip code required.
            </div>
          </div>
        </div>

        <hr class="my-4">
      <div class="col-md-7 col-lg-8">
        <h4 class="mb-3">Events</h4>
        <form class="needs-validation" novalidate>
          <div class="row g-3">
            
        <div class="form-check">
          <input type="checkbox" class="form-check-input" id="same-address">
          <label class="form-check-label" for="save-info">Quarterback </label>
        </div>

        <div class="form-check">
          <input type="checkbox" class="form-check-input" id="save-info">
          <label class="form-check-label" for="save-info">Halfback/Running Back</label>
        </div>

                <div class="form-check">
          <input type="checkbox" class="form-check-input" id="same-address">
          <label class="form-check-label" for="save-info">Quarterback </label>
        </div>

                <div class="form-check">
          <input type="checkbox" class="form-check-input" id="same-address">
          <label class="form-check-label" for="save-info">Quarterback </label>
        </div>

                <div class="form-check">
          <input type="checkbox" class="form-check-input" id="same-address">
          <label class="form-check-label" for="save-info">Quarterback </label>
        </div>

                <div class="form-check">
          <input type="checkbox" class="form-check-input" id="same-address">
          <label class="form-check-label" for="save-info">Quarterback </label>
        </div>

                <div class="form-check">
          <input type="checkbox" class="form-check-input" id="same-address">
          <label class="form-check-label" for="save-info">Quarterback </label>
        </div>

                <div class="form-check">
          <input type="checkbox" class="form-check-input" id="same-address">
          <label class="form-check-label" for="save-info">Quarterback </label>
        </div>

                <div class="form-check">
          <input type="checkbox" class="form-check-input" id="same-address">
          <label class="form-check-label" for="save-info">Quarterback </label>
        </div>

                <div class="form-check">
          <input type="checkbox" class="form-check-input" id="same-address">
          <label class="form-check-label" for="save-info">Quarterback </label>
        </div>

                <div class="form-check">
          <input type="checkbox" class="form-check-input" id="same-address">
          <label class="form-check-label" for="save-info">Quarterback </label>
        </div>

                <div class="form-check">
          <input type="checkbox" class="form-check-input" id="same-address">
          <label class="form-check-label" for="save-info">Quarterback </label>
        </div>

                <div class="form-check">
          <input type="checkbox" class="form-check-input" id="same-address">
          <label class="form-check-label" for="save-info">Quarterback </label>
        </div>
      </div>
    </div>

        <hr class="my-4">

    <!-- Emergency Contact Info -->
    <div class="col-md-7 col-lg-8">
      <h4 class="mb-3">Emergency Contact</h4>
      <form class="needs-validation" novalidate>
        <div class="row g-3">  
    <h4 class="mb-3"></h4>

        <div class="col-sm-6">
          <label for="ec_firstName" class="form-label">First name</label>
          <input type="text" class="form-control" id="ec_firstName" placeholder="First name" value="" required>
          <div class="invalid-feedback">
            Valid first name is required.
          </div>
        </div>

        <div class="col-sm-6">
          <label for="ec_lastName" class="form-label">Last name</label>
          <input type="text" class="form-control" id="ec_lastName" placeholder="Last name" value="" required>
          <div class="invalid-feedback">
            Valid last name is required.
          </div>
        </div>

        <div class="col-sm-6">
          <label for="ec_phone_number" class="form-label">Phone Number</label>
          <input type="text" class="form-control" id="ec_phone_number" placeholder="(XXX)-XXX-XXXX" required>
          <div class="invalid-feedback">
            Please enter valid phone number.
          </div>
        </div>

        <div class="item">
          <p>Relationship to Athlete</p>
         <select>
           <option selected value="" disabled selected></option>
           <option value="Mother">Mother</option>
           <option value="Father">Father</option>
           <option value="Guardian">Guardian</option>
          <option value="Grandparent">Grandparent</option>
          <option value="Other">Other</option>
         </select>
       </div>
      </div>
    </div>
    
      <hr class="my-4">


      <button type="submit" class="btn btn-primary" name="button"  href="{{url_for('home_page')}}">Submit</button>
      </button>
        </form>
      </div>
    </div>
  </div>
</div>
  </main>
</div>



      <script src="form-validation.js"></script>
  </body>
  {% endblock %}