{% extends "index.html"%} {% block content %}

<section class="bg-light py-5">
  <div class="container px-2 px-lg-5 my-5">
    <div class="text-center text-red">
      <img
        src="https://i.bleacherreport.net/images/team_logos/328x328/maryland_terrapins_football.png?canvas=492,328"
        class="img-fluid"
        alt="..."
      />
      <p class="lead fw-normal text-red-50 mb-0">Update Password</p>
    </div>
  </div>
</section>

<div class="container">
  <form class="form-group">
    <label for="userna">Username:</label>
    <input
      type="username"
      class="form-control"
      name="userna"
      placeholder="Username"
    />

    <label for="userpass">New Password:</label>
    <input
      type="password"
      class="form-control"
      name="userpass"
      placeholder="New Password"
    />

    <label for="userpass">Re-enter Password:</label>
    <input
      type="password"
      class="form-control"
      name="userpass"
      placeholder="Re-enter Password"
    />
  </br>
    <button type="submit" class="btn btn-default" name="button">Update</button>
  </form>
</div>
{% endblock %}
